<html>

<head>
    <title>* Vintage Room *</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>  
        img {
            margin: 10px 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>{{ title }}</h1>
        
        <img src="{{ url_for('static', filename='doorknob.png') }}" height="180" align="left">
        <p>{{ text }}</p>
        
        {% if choices %}
	
            <p><i>What do you do?</i></p>

            <ul>
                {% for (page_name, choice) in choices %}
                <li>
                    <a href="{{url_for(page_name)}}">{{choice}}</a>
                </li>
                {% endfor %}
            </ul>

        {% else %}
            
            <p>THE END.</p>


            <p><a align="right" href="{{url_for('start')}}">Play again.</a></p>
        {% endif %}


    </div>
</body>

</html>
