body {
    background-color: #ece7a154;
    background-image: url("wallpaper.jpg");
    color: rgb(88, 4, 15);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 48px;
    font-style: italic;
}

p, a {
    font-size: 24px;
}

a {
    color: rgb(77, 30, 109);
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 100px auto;
}
